@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&display=swap');

:root {
    --primary: #191716; /* dominant color */
    --secondary: #DCE5E4; /* texture color */
    --accent: #88498F; /* accent color */
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color:white;
    font-family: 'Bebas Neue';
}

.typewriter h1 {
    padding: 10px;
    overflow: hidden;/* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--accent); /* The typwriter cursor */
    white-space: nowrap;/* Keeps the content on a single line */
    margin: 0 auto;/* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;/* Adjusts the spacing between letters */
    /* Animation Calls */
    animation:
        typing 5s steps(40, end) 2s 100, /* Writing out the letters in the message */
        blink-caret .75s step-end infinite; /* The blinking of the right-border */
}

/* The typing effect */
@keyframes typing {
    0% {
        width: 0
    }

    50% {
        width: 100%
    }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--accent);
    }
}

div{
    margin: 20px;
}

.animate1 {
    padding: 5px;
    border: 2px white solid;
    transition: padding 1s;
}

.animate1:hover {
    padding: 50px;
}

.animate2 {
    padding: 10px;
    background-color: pink;
    animation: bColor 10s infinite;
    cursor:pointer;
    font-family: 'Bungee Spice';
}



@keyframes bColor {
    0% {
        background-color: pink;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: purple;
    }
    75%{
        background-color:white;
    }
    100% {
        background-color: green;
    }
}

/* The switch - the box around the slider */
.switch {
    position: fixed;
    right: 20px;
    top:20px;
    display: block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1F1F1F;
    -webkit-transition: .4s;
    transition: .4s;
}
/* Before the slider is clicked/moved */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url(images/moonIcon.png);
    background-color: #ccc;
    background-size: contain;
    transition: .4s;
}
/* Changing the background color of the input */
input:checked+.slider {
    background-color: #ccc;
}

/* Animating the slider within the input */
input:checked+.slider:before {
    transform: translateX(26px);
    background-color: #1F1F1F;
    background-image: url(images/sunIcon.png);
    background-size: contain;
}

/* Rounded input */
.slider.round {
    border-radius: 34px;
}

/* Rounded slider */
.slider.round:before {
    border-radius: 50%;
}

.footer{
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary);
    color: white;
    text-align: center;
    font-size: larger;
}

.lightMode{
    background-color: var(--secondary);
    color:var(--primary);
}

a{
    color: var(--accent);
    text-decoration: none;
}